[2015-04-23 12:27] ifero opened #1 "Plugin Failed to Load"
Hi,

I really appreciate your work, I've looked around in your repo and is an amazing job. :+1:

I have an issue while loading my existing project:
![screenshot 2015-04-23 12 51 53](https://cloud.githubusercontent.com/assets/1201561/7296966/9c1c5062-e9c4-11e4-9842-f46b5a08fbe6.png)

It causes my project to crash and I cannot open it until I remove your plug in :(
Am I doing something wrong? I did

[2015-04-23 12:50] ifero commented on #1
It seems like that the actual version of the plugin is not made for UE4.7.6

[2015-04-23 13:29] cboulay commented on #1
Thanks for the report. That window looks like you're using a Mac, correct? Did you build from source using a C++ project in XCode? Each time you update the plugin (i.e., git fetch & pull), you'll have to rebuild your project.

[2015-04-23 13:37] ifero commented on #1
Yes it is a mac.

I did rebuild the project in XCode. this is what comes up when I do it.
If I try to open the project directly from the epic game laucher it ask me to rebuild the psmove module.
Even in this case, after building, it shows the error message above

[2015-04-23 14:15] cboulay commented on #1
OK thanks. So it builds, but it fails to load? Do you get any more information from the XCode output log? I'm just trying to collect as much information as possible for now because I won't have a chance to test this myself for another 7-8 hours.

[2015-04-23 14:19] ifero commented on #1
[2015.04.23-12.23.50:055][  0]LogMac:Warning: dlopen failed: dlopen(/Volumes/Ifero HD/Developer/Blind/blind_depot/Plugins/PSMovePlugin/Binaries/Mac/UE4Editor-PSMove-Mac-DebugGame.dylib, 5): Library not loaded: /Volumes/STORE/Tools/VR/PSMove/psmoveapi/build/libpsmoveapi.3.dylib
  Referenced from: /Volumes/Ifero HD/Developer/Blind/blind_depot/Plugins/PSMovePlugin/Binaries/Mac/UE4Editor-PSMove-Mac-De

[2015-04-23 14:34] cboulay commented on #1
OK that folder path is from my machine, which makes me think it's using the @rpath, though I'm pretty sure I disabled @rpath. It's also encountering this problem through the symlink...

For now, can you try changing [these lines](https://github.com/cboulay/psmove-ue4/blob/master/Source/PSMove/PSMove.Build.cs#L92-L93) from .dylib to .3.1.0.dylib?

[2015-04-23 15:07] ifero commented on #1
same problem

[2015-04-24 00:52] cboulay commented on #1
OK, it was the rpath problem. I did the following:

[code]

You can either do that yourself or you can use the binaries I'm about to upload. The other test_\* apps won't work just yet though because I have to re-point their dependencies as well. Instead, I will try to do this more generally with CMake.

[2015-04-24 00:54] #1 closed

[2015-04-24 11:52] ifero commented on #1
The solution now work, I can pair the Move Controller but some modules are still affect from the @rpath problem.
I cant run the test_tracker, ps3eye_sdl, tracker_camera_calibration and the example scripts.
That is also probably why it does not turn on the camera when I open the blueprint

[2015-04-24 15:34] cboulay commented on #1
I know this is really inconvenient, but until I work out all these details, you can build the psmoveapi yourself. Use my `new_tracker` branch [here](https://github.com/cboulay/psmoveapi/tree/new_tracker). If you follow README.osx then it should be pretty painless.

After it's built then you can copy the binaries back into the Plugins\PSMovePlugin\Binaries\Mac folder.

[2015-04-24 15:58] cboulay commented on #1
The binaries in my plugins folder work even after I delete the binaries from my psmoveapi build directory, so they should work for you. I just uploaded them.

ps3eye_sdl depends on 3rd party libraries libusb-1.0 and SDL2 to be installed via [homebrew](http://brew.sh/).

[2015-05-06 14:48] ifero opened #2 "Reset Orientation and Position"
Hey,

I was curiose to know if did you thought about a function that reset orientation and position in blueprint instead of only getting the data.

Thanks

Andrea

[2015-05-06 15:05] cboulay commented on #2
This is something generally interesting so it should end up in code in the plugin. But first I'm working on coregistration with the Oculus Rift DK2 HMD.

In the meantime, you can try something like the following:
- Create two variables: (Float) yaw_offset and (Vector3) pos_offset
- On level start set yaw_offset and pos_offset to zeroes.
- On each tick
  - Monitor the PSMove buttons.
    - Whenever

[2015-05-06 15:10] ifero commented on #2
Ok, it was my idea from the beginning.
I was just curiose to know if you had already implemented it.

Tomorrow I'll work on it and I'll let you know

Thanks man

[2015-05-06 15:12] cboulay commented on #2
I should add that you probably don't really want to reset the full orientation. You probably just want to reset the Yaw. I edited the above description to use Yaws. Breaking a Rotator out into Euler angles will lead to singularities, so really this should be done in code with the quaternions. In fact, I think I will implement this in the psmoveapi.

[2015-05-07 14:31] ifero commented on #2
I've created a UFUNCTION in my character c++ class, It work like a charm for resetting FRotator.Yaw

FRotator setPSMoveRotationWithOffset (FRotator PSMoveRotation, float yawOffset)
{
    if (yawOffset > 0)
    {
        if (PSMoveRotation.Yaw >= (-180 + yawOffset))
        {
            PSMoveRotation.Yaw -= yawOffset;
        }
        else
        {
            PSMoveRotation.Yaw = 360 - yawOffs

[2015-05-07 14:52] cboulay commented on #2
From my searches through AnswerHub and the Unreal Engine forums, it seems Epic purposely does not want Quaternions exposed to Blueprints. I agree I would like access to the Quaternions in Blueprints too. It would have made it much easier to figure out commit 683bf04b218e14e2657bc71564c8dadb5407d51d.

[2015-05-21 09:48] PolGraphic opened #3 "Is it possible to compile/get the x32 Windows DLL's?"
Hi.

I wonder if it possible to get the `psmoveapi.dll` and `psmoveapi_tracker.dll` inx32 versions for Windows?
I've found the x64 versions only.

[2015-05-21 12:30] cboulay commented on #3
The UE4 editor is 64-bit only. What do you need the 32-bit binaries for (so I can test)?

[2015-05-21 16:39] cboulay commented on #2
This was addressed in ad55b9814e6c2a20a0087da2294fec488ac4d7a5

See the image at the bottom of the [wiki page](https://github.com/cboulay/psmove-ue4/wiki/Use-the-PSMove-plugin-in-a-UE4-project).

[2015-05-21 16:39] #2 closed

[2015-05-21 21:59] PolGraphic commented on #3
I see. Then I will recompile my project to 64-bit version (I guess it will be easier to go that way).
I am about to use those `.dll` in Unity (as they are not UE4-dependent and generally works better then "native" psmove api `.dll`) which supports both x32 and x64 platforms (and I've found Oculus working somehow better with x32 Unity build).

[2015-05-21 23:10] cboulay commented on #3
If you like then you can try to build the x32 DLLs yourself. Follow the MSVC 2013 instructions [here](https://github.com/cboulay/psmoveapi/blob/master/README.win64_msvc2013), but for every CMake line that says `-G "Visual Studio 12 Win64"`, replace that with `-G "Visual Studio 12"`.

[2015-05-24 03:33] PolGraphic commented on #3
Thanks :) That worked out.

[2015-05-24 04:23] cboulay commented on #3
Oh really?! I figured for sure there would be some link_directories that needed to be fixed in CMakeLists.txt

[2015-06-22 04:45] labmice00 opened #4 "Error Generating Project Files"
Hello, when I tried to generate project files, I received this error:

"ERROR: Module "PSMove" linked into both C:\Users\Oculus\Documents\Unreal Projects\PSMOVE\Plugins\PSMovePlugin\Binaries\Win64\UE4Editor-PSMove.dll and ..\Binaries\Win64\UE4Editor-PSMove.dll, which creates ambiguous linkage for dependents."

I am sure I followed all of the steps you put in the tutorial, so I am at a loss as to w

[2015-06-22 15:38] cboulay commented on #4
Those dlls shouldn't exist until you've built the project at least once. And you shouldn't have two references to them. If those dlls already exist, try deleting them then generate the project files again. If that still fails, then please try to make a new blank C++ project and try again, and if that still fails then please provide a directory listing of the blank project.

[2015-06-27 01:32] labmice00 commented on #4
The steps I tried didn't work, I'm still getting the same error. This is the directory of the project.
![directory1](https://cloud.githubusercontent.com/assets/9061798/8389889/cf83590c-1c30-11e5-8cb6-9337f755a844.png)
Currently, the binaries folder has nothing in it. I downloaded the zip package of the plugin and put it in a folder called "PSMovePlugin" in the plugins folder.

[2015-06-27 01:49] cboulay commented on #4
I need the recursive directory listing.
1. Open a command prompt.
2. Change to the folder:
   `cd 'C:\Users\<username>\Documents\Unreal Projects\PSMove\Plugins'`
3. Copy the directory listing to a file:
   `for /r %i in (*) do @echo %~ni >> list_file.txt`

[2015-06-27 01:53] labmice00 commented on #4
list_file.txt
ECHO is on.
LICENSE
PSMovePlugin
RandomNotes
README
example
libpsmoveapi.3.1.0
libpsmoveapi.3
libpsmoveapi
libpsmoveapi_tracker 2
libpsmoveapi_tracker.3 2
libpsmoveapi_tracker.3.1.0
libpsmoveapi_tracker.3
libpsmoveapi_tracker
magnetometer_calibration
ps3eye_sdl
psmovepair
test_calibration
test_tracker
tracker_camera_calibration
magnetometer_calibration
pattern
ps3eye_sdl
psmove-pair-

[2015-06-27 02:07] cboulay commented on #4
I'm sorry, that was my fault. I don't have Windows at home so I didn't test the command. I need to know the full path for each file. Try `dir /s /b /a:d>output.txt`

[2015-06-27 02:16] labmice00 commented on #4
C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin
C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin\Binaries
C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin\Content
C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin\Resources
C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin\Source
C:\Users\Oculus\

[2015-06-27 02:23] cboulay commented on #4
Getting closer. That has the right structure but it's only directory names, no files. Do you mind searching on your own for the correct commands? I can't really do it without Windows at home. Search for "windows recursive file listing output to text file". Try the different commands you find and post the results that have the full file path for all files.

[2015-06-27 07:03] labmice00 commented on #4
I believe this is what you're looking for:

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Oculus>cd C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMo
vePlugin

C:\Users\Oculus\Documents\Unreal Projects\PSMove\Plugins\PSMovePlugin>dir /s
 Volume in drive C has no label.
 Volume Serial Number is 942D-2B98

 Directory of C:\

[2015-06-28 04:00] cboulay commented on #4
I can't guess what the problem is. I haven't made a project from scratch in a long time. On Monday I'll try that, from the zip, and see if I run into any trouble.

[2015-06-29 15:48] cboulay commented on #4
I just tested the instructions on my Windows 8.1 x64 machine using UE4.8.1 and I didn't have any trouble. There were a couple steps that were not spelled out very well so I've updated the Wiki. Please give it another attempt then let me know if you still have trouble.

[2015-06-29 23:36] labmice00 commented on #4
I used the updated instructions, but I'm getting the same error. Oddly enough, other plugins (such as the Razer Hydra plugin) work fine when I generate the Visual Studio Files. Only this particular plugin has errors when I attempt to build the project.

[2015-06-29 23:52] cboulay commented on #4
Are you using Windows 8.1? Did you try with UE 4.8.1?

[2015-06-30 01:44] labmice00 commented on #4
I'm using Windows 7 and UE 4.8.1

[2015-06-30 02:42] cboulay commented on #4
I'm sorry I didn't notice this before. You can't give your project the same name as the module. Don't name the project PSMove because that's the name of the module within the PSMovePlugin. Name it anything else and this should work.

[2015-06-30 21:46] labmice00 commented on #4
I renamed my project to a different name and it finally worked! Thanks for all of the help!

[2015-07-02 12:58] #4 closed

[2015-08-06 18:42] #3 closed

[2015-10-14 16:52] M1st3rTea opened #11 "unreal engine crash with demo"
Hi, I had issues with the psmoveapi but it's now fully working.

The problem is I can't get the demo level to launch without having this crash :

MachineId:F5F4BB5F4735B6DD1477E98B2AD7A86C
EpicAccountId:217a65df23ab402eacdf8c303b6fc7fd

Access violation - code c0000005 (first/second chance not available)

""

psmoveapi
psmoveapi
psmoveapi
UE4Editor_PSMove!TrackingContextUpdateControllerConnections

[2015-10-14 17:26] brendanwalker commented on #11
If you are crashing in TrackingContextUpdateControllerConnections() it means that the plugin successfully connected to your camera but blew up trying to connect to the psmove controller itself (in psmove_connect_by_id). I think I've seen this behavior before when I had a psmove controller previously paired, but then the controller shut off some time later. The HID device enumeration says there is

[2015-10-14 18:22] tomazcdn commented on #11
Hi MisterTea,the PSMOVE API isnt mine,its from mr Cboulay but i installed and
have sucess on project,i am passing the same proble as you,i try to conect
the psmove in bluetooth but it dont pair,i think its the bluetooth who dont
have EDR function,so i build the project and it work fine,but it dont
movement because my psmove dont pair,so i stoped to try because i need to
buy an bluetooth with EDR,i

[2015-10-14 18:24] tomazcdn commented on #11
So recently i discover i got an psmove api for Unity,it works but i cant test sure because of psmove that dont pair,i trayed many times.... now i am confused wich one i use,Unity or Unreal,in final i think i go to unreal,its more bealtiful and more easy sometimes.

[2015-10-14 21:11] M1st3rTea commented on #11
Hi, first of all, pairing is working with the original repo of psmoveapi : https://github.com/thp/psmoveapi
keep in mind that if you are using Windows 10 you have to use hidapi 0.70 or else you will fail in connecting the psmove.

Regarding Unreal, I have not any project in mind atm, I guess it's more I want to experiment the api in "live".

About test_tracker, it works fine with the original repo

[2015-11-09 11:44] Jako81624 opened #12 "Windows 10 Load_Smoothing_Settings Crash"
When test_opengl, test_tracker, tracker_camera_calibration or visual_coregister_dk2 ran the command window stops or the program crashes with this error.  ps3eye_sdl.exe still works however.

[2015-11-09 13:43] cboulay commented on #12
Did you do the magnetometer calibration?
Can you post a screenshot of the error?

[2015-11-10 12:53] Jako81624 commented on #12
Did do the magnetometer calibration.  Seems to run, does all the movement, clicks move button, moves on and window closes after stabilization.  This is the error with test_tracker and test_opengl:
![psmoveue4](https://cloud.githubusercontent.com/assets/10184755/11062805/060f1aee-87aa-11e5-9df4-93ffdb8bcb94.jpg)

[2015-11-29 14:37] ManOCheese commented on #12
I'm also on Windows 10, I get the PSMOVE CRITICAL and the lens calibration warning too, but not the libusb error. test_opengl works fine.

[2015-11-29 15:04] ManOCheese opened #13 "Windows 10 - No light on controller when DK2 is on"
Everything works except for this. It's calibrated and working when the DK2 isn't on, just can't have both at the same time. I'm using 0.8.0 of the Oculus drivers. The PSEye camera lights up, but the controller  does nothing.

[2015-11-30 17:53] brendanwalker commented on #12
The PSMOVE CRITICAL error for the smoothing settings isn't actual critical. It just uses default settings. We should probably replace the error with a warning. Also it should save out the smoothing defaults after the first run of the tool. It sounds like it's no doing that.

[2015-11-30 18:04] brendanwalker commented on #13
Do you have your bluetooth adapter on the same usb root hub as your DK2? This has caused issues for some people in the past, usually due to the power being consumed by the DK2 headset +  other devices on the same usb root hub exceeding what the hub can provide. This can (hopefully) be eliminated by making sure the bluetooth adapter isn't plugged in next to the DK2 like so:

![usb_diagram](https://

[2015-11-30 19:26] ManOCheese commented on #13
No, but it was in the same hub as the PSEye. Trying to connect again is giving me a BSOD, so I'm gonna try again when I'm more awake. Thanks.

[2015-12-06 05:14] cboulay commented on #12
Is there any reason you might not be able to write to the C:\Users<username>\AppData\Roaming.psmoveapi directory? Maybe the API used to write the smoothing calibration file can't handle usernames with non-standard characters?

Can you look in that folder and let us know what files are there? The AppData folder tends to be hidden so you may have to turn on settings to view hidden folders.

[2015-12-18 19:22] tobbun opened #16 "Unreal Engine 4.10.1 Won't build properly"
I've followed the steps in installing and so on to the point where you build but it won't build properly.

The error message i get is "THe following modules are missing or built with a different engine version:

UE4Editor-PSMove.dll

Would you like to rebuild them now?"

And then when I try to rebuild it results with "MyProject could not be compiled. Try rebuilding from source manually."

If I typ

[2015-12-18 19:59] cboulay commented on #16
Can you give [this project](https://github.com/cboulay/SimpleUE4PSMove) a try and see if it builds for you?

[2015-12-19 13:07] tobbun commented on #16
I'm using Visual Studio 2015 and I honestly don't know how to change target to UE4EditorDevelopment.

The closest I know to doing so is through the configuration manager, but all my options are this: http://i.imgur.com/GYiOH9X.jpg

[2015-12-19 13:47] tobbun commented on #16
It builds and works perfectly!

I'm thinking my solutions should be either go over what's different between the two projects or just download the whole plugin anew to get the latest version.

[2015-12-22 18:23] Altares commented on #13
Thank you BrendanWalker for adding that picture. It helped me solve my issue with the psMove: Once I changed the USB port of the PSeye, it works just fine!

[2015-12-30 02:51] dignifiedweb opened #17 "Windows 10 - magnetometer_calibration not working"
Hi,

I was able to sync both of my PS Move controllers with my bluetooth properly and get the PSEye working as you described. Awesome work! For whatever reason, I can't seem to get magnetometer_calibration.exe to calibrate past the second step. The first step goes without a hitch, no problem. I noticed though, and it's got me curious, if I put the controllers down on a flat surface and leave it al

[2015-12-30 02:59] cboulay commented on #17
One thing that wasn't clear in the Wiki (about to update that) is the second step needs the controllers to be standing upright, sphere to the sky. Did you try that way?

[2015-12-30 03:06] cboulay commented on #16
I'm sorry that I didn't have time to investigate this. One problem that has cropped up in the past is how user's have named their folders or modules. First, check that the Plugins folder and its subfolders in your project have the same names as in the sample project. Second, neither the project name nor any modules you create can be called "PSMove" or "PSMovePlugin".

I'm going to close this for n

[2015-12-30 03:06] #16 closed

[2015-12-30 03:06] cboulay commented on #13
@ManOCheese ,

Is the problem solved?

[2015-12-30 03:08] cboulay commented on #11
@M1st3rTea , what's the status with this issue? Are you still experiencing crashes?

[2015-12-30 03:21] dignifiedweb commented on #17
Oh wow! I just tried that and it worked beautifully! Thank you much! Tracking works great, now off to building stuff!

Thanks so much for your hard work and super quick reply!

[2015-12-30 03:31] cboulay commented on #17
Cheers.

[2015-12-30 03:31] #17 closed

[2015-12-30 04:51] brendanwalker commented on #17
I have some illustrated notes about magnetometer calibration in the psmove-unity5 version of the wiki that you can copy over: https://github.com/brendanwalker/psmove-unity5/wiki/PSMove-Setup-%28Windows%29

[2015-12-30 11:12] M1st3rTea commented on #11
@cboulay Yes, sadly I never got it to work.

Any idea ?

[2015-12-30 12:12] cboulay commented on #11
I guess I'll need you to test everything step-by-step, using the files in this repo's Binaries/Win64 folder.
1. ps3eye_sdl.exe
2. psmovepair.exe
3. psmove-pair-win.exe
4. test_tracker.exe
5. test_opengl.exe

Let me know how those go, and if they fail, what the error messages are.

[2015-12-31 08:24] Ixstala opened #18 "Windows 7x64 Slow Orientation Tracking"
Hi,
Great work getting all of this together and working rather easily on Windows. I've got your Psmove libraries working in my graphics framework and the tracker seems to be working fine (even great) and reports >400FPS tracking a single move.

The problem arises when I try to get orientation estimates using psmove_fusion_get_projection_matrix & psmove_fusion_get_modelview_matrix; the orientation

[2015-12-31 14:09] cboulay commented on #18
So, to be clear, you're not using UE4, correct?
The UE4 plugin and the provided binaries are all set to use lowpass filtering and not Kalman filtering.
See [here](https://github.com/cboulay/psmove-ue4/blob/master/Source/PSMove/Private/FPSMoveWorker.cpp#L348-L353) and [here](https://github.com/cboulay/psmoveapi/blob/master/examples/c/test_opengl.cpp#L105-L124).

The Kalman filtering never worked ri

[2015-12-31 19:52] brendanwalker commented on #18
The orientation smoothing doesn't use the Kalman filtering. That's only for position smoothing. The default orientation smoothing is done in psmoveapi in [psmove_orientation_update](https://github.com/cboulay/psmoveapi/blob/master/src/psmove_orientation.cpp#L331) and uses a modified Madgwick filter. You could try switching to using the original madgwick filter, but it has drift issues. If you want

[2015-12-31 20:21] Ixstala commented on #18
Hi Thanks for the responses. You are correct I am not using UE4 for this project.

I went in and added the additional smoothing and tracker settings. It didn't seem to help. I just noticed that my raw accelerometer values are also quite laggy, initially I thought they were fine. For example I flip the controller end over end and the output lags by at least 0.5 second or more. I'm thinking I might

[2015-12-31 20:34] Ixstala commented on #18
I just checked and I'm polling at ~30FPS, so roughly 33ms between calls to my update function. This does seem a bit slow.

After looking at the output a bit more the orientation does track well, but it seems to be buffered so my motions occur some time after the fact.

Thoughts?

Update:
I'm making headway.
If I comment out the tracker_update_image and tracker_update the orientation estimate becom

[2016-01-01 05:46] brendanwalker commented on #18
The framerate and resolution settings are part of the [PSMoveTrackerSettings](https://github.com/cboulay/psmoveapi/blob/master/include/psmove_tracker.h#L129-L131) structure that get's passed into [psmove_tracker_new_with_settings](https://github.com/cboulay/psmoveapi/blob/master/include/psmove_tracker.h#L237-L238). The default should be 640x480@60fps.

Just out of curiousity do you have the same u

[2016-01-01 06:56] Ixstala commented on #18
Happy New Year!

I seem to have got this sorted now. I had to run a separate thread just for polling the controller and then move the tracker update calls into my drawing thread.

test_opengl.exe works just fine for me, no issues.
I'm using the psmove liibraries from the psmove-ue4 project and targeting a 64 bit platform.

Now my only issue is libusb flakiness. Occasionally the camera will drop ou

[2016-01-01 22:34] brendanwalker commented on #18
Yeah this libusb flakiness is not uncommon. The advice I usually give to people is as follows:
- Another USB device on the same hub interfering with the bandwidth available to the PS3Eye. The test camera app is running at 320x240, but psmoveapi uses 640x480 to get better tracking range (at reduced frame rate). This probably pushes it over a bandwidth threshold in some instances. Moving the PS3Eye

[2016-01-02 02:16] Ixstala commented on #18
I'm only building 64bit because that seemed to be the current magic combination of available built libraries, working/available camera drivers, and working bluetooth pairing process (sans motioninjoy), to get something done quick and dirty.

I tried running FRAPS on the test_opengl example and I get a locked 30FPS, which seems to be what I'm seeing in my own app (I have Vsync off). Before the trac

[2016-01-02 02:59] cboulay commented on #18
You can still use 64-bit built utilities for bluetooth pairing, camera calibration, etc, and then use 32-bit binaries for tracking. PS3EYEDriver (and libusb) are open source so you can build them with 32- or 64-bit architectures.

Unfortunately in this case it only means that they run on Windows 32 or 64-bit. The binaries are still 32-bit.

There's "CL Eye Driver" and "CL Eye (Multicam) SDK". CL E

[2016-01-02 03:09] cboulay commented on #18
In the UE4 plugin, we're communicating with psmoveapi in a secondary thread. That'll be necessary in any VR application, until PSMoveService is ready (and maybe even then)..

But, I think there might be a problem in PS3EYEDriver/libusb. I've found that switching the framerate between 30- and 60-fps doesn't make much of a difference, and PS3EYEDriver 60 fps is obviously lower than CL Eye 60 fps. Th

[2016-01-02 04:47] cboulay commented on #18
In reply to my last comment: I just re-read what Brendan wrote above.

That would certainly explain why changing the framerate from 30 to 60 appears to do nothing. The 'easy win' is probably not so easy. Maybe libusb on Windows can be fixed? This would benefit a lot of people.

A quick search found [this](https://github.com/libusb/libusb/issues/46). The linked pull request at the beginning of that

[2016-01-02 06:27] brendanwalker commented on #18
That's super interesting. JoshBlake's commits adding isosynchronous transfers to libusb look pretty straight forward to incorporate. I did some searching to see who had used isosychronous transfers in libusb to provide a guide as to how to proceed. It turns out there are two interesting cases.
- [PS4EyeCam](https://github.com/bigboss-ps3dev/PS4EYECam/blob/master/driver/src/ps4eye.cpp) - A port of

[2016-01-02 16:54] cboulay commented on #18
Maybe unrelated, I was reading other libusb issues and I noticed that one libusb contributor kept saying "that'll be fixed with an upcoming event abstraction merge". [Here](https://github.com/dickens/libusb/) is his fork that contains those changes. I suspect that this abstraction would make it easier to support isoc in Windows.

I also noticed that the isoc support seems to be backend-dependent.

[2016-01-02 19:12] Ixstala commented on #18
This sounds promising. Do you think you guys will be able to figure out how to add the ISOC support to speed up the video transfer?

[2016-01-03 02:07] cboulay commented on #18
[This](https://github.com/ktossell/libuvc/issues/12) issue is worth reading, especially the comments by Timmmm. I'm going to ping him and see if he had any success.

[2016-01-03 07:37] Ixstala commented on #18
I was able to build your fork of psmoveapi with the CL eye SDK for x86 target in visual studio. I'm getting a solid 60FPS from the camera now, tracking is great - virtually no drift. Still some lag, but it's likely just a handful of frames.

For some reason CLEyeMultiCam.dll is missing from code laboratories latest SDK - maybe it's an oversight. Luckily I had it from a different API that I was exp

[2016-01-03 13:01] Timmmm commented on #18
Hey guys, I never had any success with UsbDk or libusbK. At the time I wasn't sure my device firmware was working correctly though, so maybe the host software was fine. For the device I'm using an Atmel SAM3X8E on an Arduino Due - one of the very few Cortex M chips that supports USB High Speed.

I did get both patches building though so I could send you the code if you like. One of the main things

[2016-01-04 02:37] cboulay commented on #18
@Ixstala The CL SDK installer puts the DLL into C:\Windows\SysWOW64 . During setup, the installer will ask you if you want to install the "distributable" or the "developer" library. The "distributable" one won't work unless your camera is "activated". The "developer" one should work without any driver installed, but you can't package a project with this library. We have the latest "distributable"

[2016-01-04 02:49] cboulay commented on #18
@rovarma Based on your interest in psmoveapi for Windows, I thought you might be interested in this thread.

[2016-01-04 22:32] rovarma commented on #18
@cboulay Thanks for bringing this to my attention; this explains some of the issues I've been seeing as well (30 vs 60 FPS). I was planning on having a look at the problem in WPA, but haven't gotten around to it yet. I didn't realize libusb was using WaitForSingleObject internally, but that may indeed explain it.

When used with a timeout, _WaitForSingleObject/WaitForMultipleObjects_ are dependent

[2016-01-04 23:56] cboulay commented on #18
@rovarma Can you also send me an e-mail chadwick.boulay _at_ gmail.com ? I'd like to ask you about something else.

[2016-01-05 13:41] Timmmm commented on #18
@rovarma Quick explanation of USB 2 speeds:

USB 2 "High Speed" (480 Mb/s) transfers occur in 1 ms frames, which are divided into 8 microframes (125 us each). With an isochronous transfer you can send up to 3 packets per microframe and the packets can be up to 1024 bytes each. That gives you a maximum speed of 1000_8_3*1024 = 24 MB/s.

Bulk transfers can be faster because they can theoretically ha

[2016-01-05 22:37] Ixstala opened #19 "Win32 CL-EYE build, crash on psmove_enable_orientation"
I've been experiencing crashes on first startup when trying to call psmove_enable_orientation. The crash occurs during psmove_orientation_reset_quaternion. This happens with the test_opengl example and in my own code. I've built your fork of psmoveapi in msvc 2013 with win32 targets and the CAMERA_CONTROL_USE_CL_DRIVER flag defined. The 64 bit build with lib-usb does not exhibit this problem.

If

[2016-01-06 01:22] brendanwalker commented on #19
Ah this is an issue because I put Eigen::Quaternionf on structures that aren't marked as 128 bit aligned. I must have been lucky and those structures were getting aligned in 64-bit builds (because of the 8-byte pointers?). Now that you are building in 32-bit you are hitting this issue. If you are building locally, you can build psmoveapi with the EIGEN_DONT_VECTORIZE compiler option. I can submit

[2016-01-06 02:47] Ixstala commented on #19
I'll try that in the morning, thanks!

Any other compiler options I should know about?

[2016-01-06 09:06] brendanwalker commented on #19
I have a pending pull request with this fix waiting to go into psmoveapi (which will then feed into psmove-ue4): https://github.com/cboulay/psmoveapi/pull/12/files

The key fix is in psmove_orientation.cpp. It'll probably take a few days for this to make it up into psmove-ue4, so if you want this fix now and you have psmoveapi built locally, you can just copy over this one file in the mean time.

[2016-01-06 14:15] Ixstala commented on #19
Seems to be working! I'll continue testing a bit, but I'm going to mark this as closed now.

Thanks!

[2016-01-06 14:15] #19 closed

[2016-01-06 21:39] rovarma commented on #18
@Timmmm Thanks for the information. I've been doing some reading about isochronous transfers (in addition to your information) and I think I have a better understanding now.

Looking at the configuration of the isochronous endpoint on the PS3 Eye:
- **wMaxPacketSize** is 0x0300 (ie. 768 bytes) with 1 packet per microframe
- **bInterval** is 4

If I understand the meaning of _bInterval_ correctly,

[2016-01-06 23:49] brendanwalker commented on #18
@rovarma Ahh I bet you are totally right about the iso endpoint being for the mic. I just did a quick test with timeBeginPeriod in psmoveapi and ran locally with the test_tracker app. It /seems/ snappier but I don't have any hard numbers yet. I have some watchdog timers implemented in psmove-ue4 on the psmove worker thread (in particular around the camera update call). I can do a before and after

[2016-01-07 04:32] cboulay commented on #18
https://github.com/cboulay/psmoveapi now has its PS3EYEDriver submodule pointing to the modified version. Brendan, if you'd like to do it tonight, can you build the dll's then drop them into psmove-ue4 and create a pull request? Otherwise I should have time to do it tomorrow.

[2016-01-07 04:34] brendanwalker commented on #18
Yup I was just working on that now. I'll update with a link when I get that in.

[2016-01-07 06:59] brendanwalker commented on #18
I just did a test in both psmove-ue4 and with psmoveapi with timeBeginPeriod(1) added to ps3eye.cpp. Sadly I'm still getting frame update rates between 30-50fps. I added some timing code in psmove_tracker_update_image() where we read the frame from the ps3eye code just to be sure. At first I thought the issue might be that we forgot to drop the timeout value from 50ms to something lower on the cal

[2016-01-07 07:10] rovarma commented on #18
Ah...that's unfortunate. I'll do some digging with WPA tonight to see if I can find something. Thanks for testing.

[2016-01-09 16:30] dglomberg opened #20 "Win 10 magnometer calibration not working"
Hello,

camera is working and the controller is paired. the only thing not working is the magnometer calibration. The windows opens and shutdown immediately without any comment.

Is there something i can do?

Thanks for the help.

[2016-01-09 17:51] cboulay commented on #20
Can you open a command prompt and run it from there? That way the error message will stay on the screen. Post the error message here when you get it.

[2016-01-09 18:13] dglomberg commented on #20
Thanks for the quick help. I had bad calibration data and after following the onscreen instructions it now works perfectly.

[2016-01-09 18:13] #20 closed

[2016-01-09 20:02] Ixstala commented on #18
How does the CL eye driver achieve 60FPS if there isn't an ISOC endpoint for the video camera. Maybe the camera frame rate/video mode is not being set properly with libusb?

[2016-01-10 14:41] Timmmm commented on #18
@rovarma Yep that sounds right to me, although if bInterval is 4, and there is 1 packet per microframe it actually means that it sends 1 packet per 8 microframes, giving a data rate of 768 000 bytes/second.

Sounds about right for audio - two channels at 48 kHz, 16 bit is 192 000 bytes/second.

@Ixstala If they use bulk endpoints you can get up to about 40 MB/s. 640 x 480 x 2 x 60 is about 36 MB/s

[2016-01-10 19:12] rovarma commented on #18
Just a small update: I haven't had much time to look at this further (busy few days), but I hope to be able to do so next week somewhere.

[2016-01-12 17:18] Ixstala opened #21 "Poor Z-Estimate during partial oclusion and controller tilt"
I've noticed that the Z-estimate from either the circle or ellipse fit becomes very unstable when only part of the 'bulb' is visible. This can happen when you tip the controller away from the camera by as little as 30 degrees.

I tested out using cvMinEnclosingCircle to fit the circle and this works much much better. It yields a more accurate and stable solution than the current methods for even m

[2016-01-12 17:59] cboulay commented on #21
You're definitely right that the current method is sub-optimal. You're modification seems reasonable.

The the new PSMoveService that we are working on, we are thinking about implementing something like what's described [here](https://www.reddit.com/r/oculus/comments/3mzux2/id_like_to_share_an_early_result_new_optical/). My understanding is that it fits a cone to the data points then from the cone

[2016-01-12 18:51] Ixstala commented on #21
Wow, that looks pretty stupendous!

[2016-01-23 15:43] rovarma commented on #18
@cboulay @brendanwalker It's been a while, but I've finally been able to profile and optimize the camera performance.

To test, I've written a small test program that captures 1000 frames as fast as it can:

[code]

This is pretty much as fast as it could ever get, since there is no processing going on; I'm simply reading the camera image as fast as possible.

Analysis with a hardware USB sniffer

[2016-01-23 23:42] cboulay commented on #18
I modified the SDL example to work with the new API. See [here](https://github.com/cboulay/PS3EYEDriver/commit/3b3ba57d5ca730f848d6864432c795836d727c6b). It works in OS X, but I'm getting some warnings that are of some concern.

[code]

Also, I modified the test_camera app in PSMoveService to use the new repo. It seems to have high frame rate, but there is a (constant?) delay of more than a second

[2016-01-24 01:45] rovarma commented on #18
Thanks for giving it a try. I'm not too sure about the warnings; I got the semaphore code off some random internet page somewhere. I'll have a look for a better version tomorrow.

As for the delay, I think that's probably caused by the app running too slowly (< 60 FPS); it can't keep up with the camera, so it starts lagging behind. Though a lag of >1 second sounds quite extreme; I would expect it

[2016-01-24 04:24] cboulay commented on #18
In the PSMoveService test_camera app, the culprits are

[code]

If I comment out either line then I get a solid 60 fps (but of course no image on the screen). This is acceptable, as we will only be displaying the image in a separate debug process that is not being used to calculate position. And, in that process, we probably won't even use OpenCV to display the image. The SDL example in my previou

[2016-01-24 10:08] rovarma commented on #18
Thanks, that's good to know. I suspected it might be that; as I noted in my original post, the functions used to display images in OpenCV all seem incredibly slow.

I think your suggestion of exposing the number of buffered frames makes the most sense if the user is OK with dropping frames. A function next to Dequeue that moves the tail to the head would be easy to implement, but it would be trick

[2016-01-24 10:28] rovarma commented on #18
Hmm, so I'm having a look at those `sem_t` deprecation warnings and what I've found is quite scary:

http://stackoverflow.com/questions/1413785/sem-init-on-os-x
http://stackoverflow.com/questions/27736618/why-are-sem-init-sem-getvalue-sem-destroy-deprecated-on-mac-os-x-and-w

In particular:

I have no way of verifying that, but it would certainly be a new and novel way to go about deprecating APIs

[2016-01-24 14:02] rovarma commented on #18
I was thinking a bit more about the size of the frame queue and I've come to the conclusion that 16 is not a good default. The only reason I picked it in the first place is because the old (unoptimized) code already had a 16 frames large buffer. But I think that with the new code it does not make sense anymore:
- If the consumer is slower than the producer, it will _always_ be 16 frames behind. It

[2016-01-25 02:37] cboulay commented on #18
I tried it and it worked well with both the sdl app and in PSMoveService's test_camera. To get rid of the deprecated semaphore functions, I made some changes (cboulay/PS3EYEDriver@baa5c575db22f0e5093bce83704552648dc09ee9). Note that I had to change `sema` to a pointer, I also had to give the semaphore a name and permissions that I simply guessed at from an example I found [here](http://heldercorre

[2016-01-25 17:50] cboulay commented on #18
[code]

I took care of this and made a pull request to inspirit's repo.

[2016-01-25 17:58] cboulay commented on #18
~~About that previous comment, can you also change main.cpp to use 640x480@60fps instead of its current 320x240@187fps?~~

Another thought: I'm guessing it's impossible to make the changes you outline without changing the PS3EYEDriver API. Is that correct? If so, then can you open an issue on the Inspirit PS3EYEDriver repository outlining your proposed changes? If getting the high throughput is wo

[2016-01-25 18:23] brendanwalker commented on #18
@cboulay I just tried building ps3eye_sdl last night with the latest from your rovarma-optimization branch (I used manually setup msvc project files rather than mingw). I got 640x480@60fps (which is awesome!) but am seeing a lot of flickering artifacts on my win10 home machine. I did get this flickering artifacts before but they were more infrequent. I'll upload a video tonight and update this pos

[2016-01-25 18:58] cboulay commented on #18
I decided to setup a MinGW build system anyway. I was able to get the original PS3EYEDriver SDL program to compile (no rovarma optimizations). That went @ 60fps (!) but with frequent flickering. It's a bit surprising that it went at 60 fps, but this was on a high-spec desktop (i7, very high specs for 1 yr ago). I also tested on my Macbook Pro (2 yrs old), and it also went at 60 fps. I don't know w

[2016-01-25 21:20] rovarma commented on #18
Oof, a lot of things to respond to here! Let me know if I missed something :)

---

Yes, the API changes are unfortunately required. The reason is that in order to associate a specific `libusb_context` with a specific `libusb_device`, the `libusb_context` passed to `libusb_get_device_list` must match the `libusb_context` you wish to associate the device with.

The old API was using a single contex

[2016-01-25 23:41] cboulay commented on #18
[Instructions are here](https://github.com/inspirit/PS3EYEDriver/blob/master/sdl/README.mingw64). But, as your Windows builds are using MS Win APIs, you'd have to change your platform checks to look for MSVC vs rest instead of WIN32 vs rest.

Alternatively, I think you can save a lot of cross-platform work by using std::mutex. Recent versions of MSVC have good C++11 support, as does Xcode, and som

[2016-01-26 07:14] rovarma commented on #18
Thanks, I'll have a look at MingW tonight.

I actually originally tried using the std threading support, but it wouldn't compile under MSVC. I was getting a lot of compile errors in < ratio > about not being able to find types that should've been defined in < stdint.h > but somehow weren't.

I tried to get that to work for several hours before I gave up.

[2016-01-26 08:28] brendanwalker commented on #18
@rovarma I gave device monitoring studio a try while running my [local version of ps3eye_sdl](https://github.com/brendanwalker/PS3EYEDriver) a try with various usb cable configurations. I originally had my ps3 eye plugged into a USB3 hub with nothing else on it. To make sure I wasn't getting any other device interference I pulled out everything except my keyboard and mouse and plugged the ps3 eye

[2016-01-26 12:50] rovarma commented on #18
@brendanwalker The fork you linked to appears to contain the vanilla version of PS3EYEDriver (ie. without my changes). Is that the version you ran the usb monitor against?

If so, then what you're seeing makes complete sense: in that version the FPS you'll get is directly dependent on how frequently you call `PS3EYECam::updateDevices`, since that drives the libusb event loop. If you don't call it

[2016-01-26 13:09] cboulay commented on #18
@rovarma Did you try MSVC 2015? (It's actually supposed to be there as of MSVC 2012, though buggier in older versions).
Also, what time zone are you in? I'm EST (UTC-5) and Brendan is in PST (UTC-8) but he likes to work late.

[2016-01-26 14:45] rovarma commented on #18
Nope, I'm using 2013 at home. I've been considering the switch to 2015 (have been using it at work for about a year now), just haven't gotten around to it yet.

However, I believe it indeed _should_ work with 2013, it's just some weird include ordering issue; googling around for the error will turn up some people who 'fixed' it by fudging with the include ordering, but I couldn't get it to work. I

[2016-01-28 07:12] brendanwalker commented on #18
@rovarma Some updates on my testing

Ah oops, I meant to link to my "rovarma-optimization" branch that includes your changes:

https://github.com/brendanwalker/PS3EYEDriver/tree/rovarma-optimization

This version has the updateDevices call commented out in the update loop of the test app as well as your other changes I brought over:

https://github.com/brendanwalker/PS3EYEDriver/blob/rovarma-optim

[2016-01-28 10:10] rovarma commented on #18
Hmm. Thanks for the info. That's really weird to me.

If you're using my version, I really wouldn't expect the sleep in the main loop to impact the bandwidth of the camera at all. The entire point of my change is that the data transfer from the camera is decoupled from the rate at which frames are actually consumed.

With that sleep there, what I would expect is that you'd potentially **present**

[2016-01-28 10:17] rovarma commented on #18
BTW @cboulay @brendanwalker I had a think about the code structure of the new driver some more and I think that with the change that the producer thread will no longer block if the buffer is full, I can simplify the change quite a bit, keeping it very close to the original driver API. I'll try and test this tonight in a new branch.

[2016-01-28 21:28] rovarma commented on #18
@cboulay Just tried including < thread > in ps3eye.cpp again. These are the errors I'm seeing:

Including < thread > in a different solution/project works just fine, however, so it has to be something specific to either ps3eye.cpp or to the psmoveapi project configuration. I'll try and see if I can get this to work so I can ditch the homegrown threading primitives.

In addition, as I mentioned in

[2016-01-30 09:12] brendanwalker commented on #18
@rovarma I updated my version of ps3eye_sdl to rip out the thread polling in main.cpp and just call ctx.eye->getFrame() directly as you suggested. That completely fixes the frame corruption I was seeing. I also added back in the SDL_Delay(10) and it doesn't see to be a problem anymore. I should note that between now and the last time I tested this I added a new [USB 3.0 expansion card](http://www.

[2016-01-30 17:46] rovarma commented on #18
@brendanwalker Cool, that's good to hear. I'm currently working on simplifying the change, should be done soon.

BTW, you probably want to `free(new_pixels);` in the loop somewhere; you're leaking 36 MB/s now ;)

[2016-01-31 13:42] rovarma commented on #18
@cboulay @brendanwalker I've finished the clean version of my changes. It's [here](https://github.com/rovarma/PS3EYEDriver/tree/optimization-clean).
- The API is now mostly unchanged:
  - `PS3EYECam::handleEvents` has been removed
  - `PS3EYECam::isNewFrame()` has been removed
  - `PS3EYECam::getLastFramePointer` has been renamed to `PS3EYECam::getFrame`
- Now using C++11 threading primitives inst

[2016-01-31 15:02] cboulay commented on #18
Looks great. I won't have time to try it until tonight (about 11 hrs from now).

[2016-01-31 22:54] brendanwalker commented on #18
@rovarma I just merged your latest changes from your "optimization-clean" branch. The only differences I have now is that I left in the [FPS counter](https://github.com/brendanwalker/PS3EYEDriver/blob/rovarma-optimization/sdl/main.cpp#L104-L115) in main.cpp and my msvc project files (since I don't have Mingw installed). My forks of ps3eye_sdl and psmove api built and ran great. I also updated my "

[2016-02-01 00:56] cboulay commented on #18
I knew I shouldn't have promised a time. I was asked to sub for my old ultimate team. I'll do this when I get back.

[2016-02-01 05:01] cboulay commented on #18
@rovarma The ps3eyedriver.h/.cpp files do not exist in the inspirit upstream. Those files were created by thp to give a C API. While it's not a bad idea for inspirit to provide a C API, so it might get merged upstream, I think there might be more acceptance it if the filenames were changed. i.e., ps3eye_capi.h/.cpp or something similar. This was a point of confusion for me when I first started wit

[2016-02-01 07:25] rovarma commented on #18
Thanks for testing.

I'll add the FPS counter in and make the required changes for C++11 support on XCode tonight, then see about opening a pull request to inspirit/thp.

[2016-02-01 21:14] rovarma commented on #18
@cboulay @brendanwalker I've added the FPS counter to the SDL app + renamed the ps3eyedriver.h/cpp [here](https://github.com/rovarma/PS3EYEDriver/commit/7943ecf86337f279b7e6f871ab1ac2da4dd79160).
Also modified psmoveapi/src/CMakeLists.txt as @cboulay said to make it build under XCode.

I've opened PRs in all relevant places for all of this (https://github.com/inspirit/PS3EYEDriver/pull/21, https:/

[2016-02-01 21:20] brendanwalker commented on #18
@rovarma Thanks for implementing this optimization! It's been nice using the snappier camera tracking here at work. And it's allowed me to can rip out my janky implementation of the CLEye driver support I had in psmove-unity5 (since the ps3eye driver is now delivering frames just as fast).

[2016-02-02 07:30] rovarma commented on #18
No problem! Glad it works for you.

[2016-02-02 23:53] KRSteinke commented on #18
Awesome work rovarma! Your work is greatly appreciated! Even by us lurkers.

[2016-02-05 07:14] brendanwalker commented on #18
@rovarma @cboulay FYI I just found one small [issue](https://github.com/brendanwalker/psmove-unity5/issues/10) with the latest camera driver that only manifests if you attempt to close and re-open a camera in the same process. In all our test apps we've never do this (open camera on start-up, close on shut-down). However in both psmove-ue4 and in psmove-unity5 we setup and teardown the tracker con

[2016-02-05 09:23] rovarma commented on #18
@brendanwalker Ah, good catch. Thanks for the fix. Can you open a PR for that to inspirit's repo, or shall I?

[2016-02-05 18:32] brendanwalker commented on #18
I can open a PR tonight. I've been meaning to bring my fork of PS3EyeDriver in line with inspirits anyway.
EDIT: PR submitted to inspirit/PS3EYEDriver:master: https://github.com/inspirit/PS3EYEDriver/pull/22

[2016-03-06 10:42] hazem17 opened #22 "Connect PS Move to PC"
Unreal engine has identified the plugin but it didn't work, i connected the PS move via bluetooth with MotionInJoy program, i'm using windows 8.1 64bit

[2016-03-06 14:46] cboulay commented on #22
It'll never work with MotionInJoy. You'll have to uninstall that then pair the controller using the tools found in this repo's Binaries folder. Please follow the instructions in this repo's Wiki.

[2016-03-06 14:46] #22 closed

[2016-03-08 08:56] hazem17 commented on #22
thanks for your help, i connected the ps move and the eye and it worked, but i have a question can i connect more than 1 camera to detect the ps move and can i connect more than 1 ps move?

[2016-03-08 11:03] leckchess opened #23 "PS3Eye with mac"
HI
i was able to calibrate the psmove on mac and it is working fine but i can't make the pseye work
i installed  libusb-1.0 and SDL2 via homebrew.
then i wasn't able to find the Binaries\Mac\ps3eye_sdl so i tried testing the eye using Binaries\Mac\test_tracker and Binaries\Mac\test_opengl but i face the same error
library not loaded: / Volums/Store/Tools/VR/PSMove/psmoveapi/build/libpsmoveapi_trac

[2016-03-08 13:59] cboulay commented on #22
I've been told that you can use more than 1 PSMove but I've never tried.
Only 1 camera.

[2016-03-08 14:01] cboulay commented on #23
Sorry, I guess I forgot to do a step before I uploaded those dylibs. See item 7 in the [Wiki troubleshooting page](https://github.com/cboulay/psmove-ue4/wiki/Troubleshooting). You can fix them yourself by following those instructions. I'm a little too busy to upload new binaries right now.

[2016-03-08 18:45] KRSteinke commented on #22
I can confirm you definitely can use two PSMoves on Windows 7. Can't confirm for any other OS. But I actively use two PSMoves for prototyping currently.

[2016-04-10 09:09] cramer230 opened #24 "Is Multiple PSEye + multiple PS Controllers + UE4 possible???"
I'm new in these issues and I have poor knowledge in programming. I want to know if this following approach is possible in real time and acceptable latency for VR purposes:

-Multiple PS3 Eye cameras (around 50 cams or more)
-Position and orientation tracking of 12 PS Move controllers (6 head tracking and 6 weapon tracking)
-Get these 12 position and orientation tracking data in UE4.

Thanks!

[2016-04-10 09:30] HipsterSloth commented on #24
Short answer, at the scale you are talking, almost certainly not.

Long answer:
I'm in the middle of trying to get multicam support working in psmove_unity5 right now and it's already a challenge to get more than two cameras tracking a single controller at acceptable latency for VR (See https://github.com/HipsterSloth/psmove-unity5/issues/18). It sounds like you are trying to make a VR arena of so

[2016-04-10 11:39] cramer230 commented on #24
Yes, I would like something like a VR arena. I was thinking in multiple PS3 Eye + PS Moves controllers because is the solution used by zerolatency guys (http://www.cnet.com/news/zero-latency-vr-entertainment-revolution-begins-melbourne-australia/)

About Vive solution, do you think that I could managed distances around 20 meters? Could I add more than 2 base stations?  I need large space to tracki

[2016-04-11 01:36] HipsterSloth commented on #24
I think the key take away from the zerolatency article is that while that is a very impressive feat, it was a non-trivial exercise to build that tracking tech: "Building the technology has taken the team at Zero Latency more than three years" and that was with a team of six people working on that full time. They had to solve all of the problems I mentioned as well as a host of others I probably ha

[2016-04-11 16:57] cramer230 commented on #24
Thank you very much for your advice. I think I will forget the PS3 Eye system definetively for the positional tracking...

By the way, about PS move controller and the PSMove API:
1. Do you know if I Can get the orientation tracking without any PS eye camera, only with a PS Move controller? I've read that it's possible. Can you confirm it?
2. And the 3D coordinates for absolute position tracking?

[2016-04-11 17:05] cboulay commented on #24
1. Yes it is possible.
2. Not currently. This is called 'dead reckoning'. The drift error is REALLY bad. It's unusable. Dead reckoning with the PSMove is only good for tens of milliseconds until it can be updated with optical information.
3. That depends on so many factors. As an example of how unanswerable this is: How far does your WiFi go?
4. Not currently. Technically it could be done and the

[2016-04-15 14:49] ambershee commented on #24
On a related note, how easy is it to use a pair of move controllers at present? I've been flicking through the information that's available, but it looks like you only a single motion controller is currently supported?

[2016-04-15 14:53] cboulay commented on #24
@HipsterSloth Added support for this a while ago. I've yet to try it. If it's not in my fork then it'll be in [his](https://github.com/HipsterSloth/psmove-ue4). (If it's not in my fork then let me know and I'll create the PR).

[2016-04-15 14:54] ambershee commented on #24
Thanks, I'll take a look shortly. I'm slowly downloading UE 4.10 at the moment as I noticed the plugin doesn't currently compile under 4.11 :)

[2016-04-15 15:11] cboulay commented on #24
oh? We should change that, but...
@HipsterSloth and I (mostly HipsterSloth) are working on a different implementation that should be more future proof. We don't want to spend too much time supporting the old stuff seeing as we are struggling to find time to work on the new stuff.

[2016-04-15 15:19] ambershee commented on #24
Nothing too sinister, from what I could tell - Epic have changed a few things on their end. I'm doing a quick fiddle over the next few days, so I figured it'd be quicker to just downgrade on my side than explore a plugin I'm not familiar with and clean it up.

Sounds healthy to me. I can see Epic's side of things changing quite frequently over the coming months, especially once other motion contro

[2016-04-15 18:05] ambershee opened #25 "Compiling for 4.11"
Hello!

So as I mentioned before, this doesn't compile in 4.11 at present. I tried rolling back to 4.10, but it turns out HMD support is a bit broken in 4.10, so that's not a great option for me either - so fixing up the plugin for 4.11 it is.

There are two issues with the plugin in 4.11, the first is easy; an implementation needs to be provided for ETrackingStatus GPSMove::GetControllerTrackingS

[2016-04-15 18:32] HipsterSloth commented on #25
@ambershee
Oh yeah I hit this issues myself. You can fix this by doing making the following edits in PSMoveTypes.h:
- Remove the #include "PSMoveTypes.generated.h" at the top of the header file
- Remove all USTRUCT(), GENERATED_USTRUCT_BODY(), and UPROPERTY() markup on all the structures in that file
- Delete the UPSMoveTypes class at the bottom of the file

Basically none of those classes need to

[2016-04-16 08:59] ambershee commented on #25
This is fantastic - thank you so much Guido :)

[2016-04-16 08:59] #25 closed

[2016-04-17 12:42] ambershee opened #26 "Cannot Run psmovepair.exe"
Hello!

I'm having hell getting this working - I'm finding I can't get far into the setup guide as running psmovepair.exe is not working as expected. I have a move controller connected via the USB cable to a USB 3.0 port (also tried USB 2.0) and Windows recognises that the device is there, however running psmovepair.exe fails immediately, telling me that the Magnetometer is not yet calibrated and

[2016-04-17 13:47] cboulay commented on #26
For now, use psmovepair.exe that you build from thp/psmoveapi repo. It's more up-to-date than what's here. That repo has some features that my fork (cboulay/psmoveapi) does not -- like a better psmovepair -- but it also has worse tracking. I don't have time to keep my fork up to date with the upstream repo while still maintaining my tracking changes. Sorry for the difficulty.

[2016-04-19 13:47] ambershee opened #27 "Oculus Interfering with PSMove"
Firstly, thanks for all the help so far, it's really helped me get up and running pretty quickly and I have game mechanics working already in the engine. Hopefully this is the last you'll hear from me issues-wise.

I initially found that the PSMove would become incredibly unresponsive when running a DK2 alongside it, largely down to huge input latency, and I solved this by moving some USB devices

[2016-04-19 13:51] cboulay commented on #27
The PSEye camera has an infrared filter, so I doubt the DK2 LEDs are causing interference. Does it only happen when the controllers are near the headset? The electronics of the DK2 may disturb the magnetic field sensed by the PSMove IMU.

Can you describe the 'tilt' problem a little more to see if we can narrow it down? A video would be good, but I'm sure @hipstersloth would appreciate an MSPaint

[2016-04-19 14:09] ambershee commented on #27
I've tested distance, and it seems to happen all the time (I can stand about six feet away and it works fine without Oculus, but suffers when Oculus is on), so I don't think it's the magnetometers themselves being interfered with. Playing with the magnetometer calibration tester also doesn't show anything obvious when the headset is nearby.

Can't really help with anything visual (there's a lot go

[2016-04-19 15:29] ambershee commented on #27
Update: It's definitely input latency - I've added some a test widget to my project, and when Oculus is running, PSMove is crippled and often receiving sporadic updates.

[2016-04-19 15:49] HipsterSloth commented on #27
Sounds like the usb root hub that the bluetooth adapter is on is getting saturated. Do you have you have the ps3eye or dk2 on the same root hub as your bluetooth adapter?

[2016-04-19 15:53] ambershee commented on #27
I have tried a few different combinations, but generally the bluetooth adapter has been connected to the hub via the front panel whilst Oculus has been plugged into the back panel.

[2016-04-19 15:58] HipsterSloth commented on #27
Is the front panel actually on a different usb root hub though? (You can tell by looking at your windows device manager and see what usb ports are connected to what root hub). Also you don't have the ps3eye connected to the front ports do you?

[2016-04-19 16:29] ambershee commented on #27
That was an excellent question - I couldn't see it through the device manager, but I downloaded the old USB Viewer and discovered that only the USB 3.1 and USB-C ports were on one root, and every single other USB port was on the other.

I've moved the bluetooth adapter to the 3.1 port and everything else is on the others - there's no input latency any more (hooray! thanks a lot!), but annoyingly c

[2016-04-19 19:04] ambershee commented on #27
Well, I didn't make any progress - the problem with the implementation seems to be that there are very few ways to get data out of the move controller, and this seems to be partially an issue with how Epic have implemented their motion controls, and partially an issue with the plugin.

The only way I seem to be able to get the tilt of the controller it is via the relative rotation of the motion co

[2016-04-21 13:20] Daveiac opened #28 "Problems getting started with the plugin"
Hi, I'm having some issues getting to use the plugin and I hope you could help me get started.
First of all my system is Windows 10 x64, MSVC2015, with unreal engine 4.10 and PS3Eye camera. My tracking is working fine in test_tracker.exe, and test_opengl.exe, and I have installed libusb drivers with Zadig.

What I want to achieve is to use the PSMove controller as a cursor on the screen, but I'm h

[2016-04-28 15:54] cboulay commented on #28
I've never tried explicit importing of a plugin as a dependency for another plugin/module. I just drop the plugin in the "Plugins" folder and it works. That shouldn't be necessary for you though.

I'm guessing your application is non-VR, correct? We haven't really tested that.

As I mentioned by e-mail, I don't really have the time to dive back into this while working on other things. But, a simpl

[2016-04-29 06:01] plachenko commented on #25
Hey!

Could you keep this issue open until a fix is merged? I've been having the same issue and had to roll back to 4.10.4 for it to work. @HipsterSloth I tried implementing the fixes you described but it still couldn't compile for me.

[2016-07-10 23:13] mouedarbi commented on #24
Hi Cramer230,

I am working on same project and i have choose HTC Vive, if your are interested you can contact me .
I will open in Belgium a VR Arcade with multiplayer experuence with free tracking so i am investigating solution that exist too.

Mouedarbi@gmail.com
0032 487 374541

[2016-07-27 14:11] M103Wrestler commented on #12
Hi I am getting the same issue but on Windows 7 64bit. Currently there is nothing in the AppData folder.

[2016-07-27 14:21] cboulay commented on #12
Hi this plugin is currently obsolete. If you're using VR, then please use [PSMoveService](https://github.com/cboulay/PSMoveService) and the openvr plugin. If you are using PSMove outside the context of VR, then please wait until we make a UE4 plugin based on PSMoveService.

[2017-08-26 07:21] muro8 opened #29 "Unreal Engine 4.15.3 Won't build properly"
I've followed the steps in installing and so on to the point where you build but it won't build properly.

The error message i get is "THe following modules are missing or built with a different engine version:

UE4Editor-PSMove.dll

Would you like to rebuild them now?"

And then when I try to rebuild it results with "MyProject could not be compiled. Try rebuilding from source manually."

The same

[2017-08-28 01:03] cboulay commented on #29
Honestly I haven't looked at this plugin in a long time and it isn't supported anymore. The original goal was to get it to work in VR. For that application, it is now better to use PSMoveService combined with the PSMoveSteamVRBridge client.

Are you attempting to use this for non-VR applications? If so then an entirely new plugin that uses the PSMoveService client interface is needed. I don't have

[2017-08-31 10:20] yang3kui opened #30 "I found an error in tracker algorithm"
Hi,

Great work you have done!

Recently, i was working on a similar project, and had got a lot of inspiration from your codes and comments.

Meanwhile, I found an error in your tracker algorithm described [here]( https://github.com/cboulay/psmove-ue4/wiki/Tracker-Algorithm ).

When you project a sphere to a plane perspectively, you get an ellipse. That is correct.

However, the center of the elli

[2017-08-31 15:12] cboulay commented on #30
I haven't used psmove-ue4 in a long time. Can you take a look at the psmoveservice algorithms instead?
[here](https://github.com/cboulay/PSMoveService/blob/master/src/psmovemath/MathAlignment.cpp#L561-L690). The second one is the better one. Please post in PSMoveService issues if you have any suggestions for those algorithms.

[2017-09-01 06:36] yang3kui commented on #30
All right, i'll post it in PSMoveService issues.

Should i close this one or leave it open?

[2017-09-01 17:29] #30 closed

[2018-04-05 14:16] microneo commented on #29
You can give me some tips to get started? I developed a kinect plugin for ue4, but now I'm looking for a replacement for it. PS move seems suitable to me.

[2018-04-05 14:23] cboulay commented on #29
@microneo If you can use SteamVR then PSMoveService & https://github.com/HipsterSloth/PSMoveSteamVRBridge are probably what you are looking for.

Otherwise, no this is just a legacy repo. There won't be any more work on it. If you want to write a UE4 Plugin that is a PSMoveService client then that would be great. I'd be happy to redirect people from this repo to that plugin.